<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Hello {{prenom}}&nbsp;{{nom}} !</h1>
        
        <p>
            Nous sommes sur la page {{page}}
        </p>
		<br/>
		Le film d'id 451 est à l'url : <a href="{{path('movie_list_view',{'id':451})}}">par ici</a>
	</body>
</html>