{# empty Twig template #}
{% block title %}
  
{% endblock %}
	{% block body_title %}
		<h1>Rechercher un film</h1>
	{% endblock %}
{% block movie_body %}
{#<img src="{{ asset('coreImages/ajax-loader.gif') }}" alt="loading..." title="loading..." />#}



{% endblock %}
