{# src/Movie/ListBundle/Resources/views/layoutBundleMovie.html.twig #}

{% extends "::layoutMovie.html.twig" %}

{% block title %}
  Films - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  {% block body_title %}
	<h1>Films</h1>
  {% endblock %}

  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block movie_body %}
  {% endblock %}

{% endblock %}